<section class="container-btns">
    <div class="container-btns example-button-row">
        <button mat-icon-button (click)="previousImages()" [disabled]="isFirstImage">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      <button [disabled]="imagenIncrese" (click)="increaseImageSize()" mat-raised-button color="primary">Aumentar</button>
      <button [disabled]="imagenDecrese" (click)="decreseImageSize()" mat-raised-button color="primary">Disminuir</button>
      <button (click)="play()" [disabled]="isPlaying" mat-raised-button color="accent">Play</button>
      <button (click)="stop()" [disabled]="isStoped" mat-raised-button color="warn">Stop</button>
    <button mat-icon-button (click)="nextImages()" [disabled]="isLastImage">
        <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</section>
<mat-grid-list cols="3" rowHeight="200px">
    <div class="container-img">
    @for (item of imagenes; track $index) {
        <div class="div-img">
            <img [class.large]="isImageLarge" id="{{item.title}}" (click)="imagenSelected(item)"  class="imagen" src="{{ item.src }}" alt="{{ item.title }}" >
            <h2 class="image-title">{{ item.title }}</h2>
        </div>
    }
    </div>
    <div class="container-img-selected">
        <h4>{{ imageName }}</h4>
        @if (imageName) {
            <span>Click en la imagen para rotar</span>
        }
        <img  appRotateImage src="/assets/imagenes/empty.jpg" id="imagen-selected" class="imagen-selected"  alt="">
    </div>
</mat-grid-list>
