p {
    margin: initial;
}

a {
    color: initial;
    text-decoration: none;
}
.container {
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    justify-content: space-between;

}

.container-logo {
    display: flex;
    align-items: center;
    font-size: 17px;
}

.logo{
    width: 100px;
    margin-right: 1rem;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.menu-item {
    margin-right: 1rem;
}

.logout-icon {
    height: 24px;
    margin-right: .3rem;
    margin-left: .8rem;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.username {
    margin-right: 1rem;
}