<mat-toolbar class="container">
    <div class="container-logo">
        <a href="/"><img class="logo" src="../assets/logo/logo.png" alt=""></a>
        <span>Personajes Anime y galeria</span>
    </div>
    <div class="menu">
        @for (item of menu; track $index) {
            <a class="menu-item" href="{{item.route}}">{{ item.name }}</a>
        }
        
        @if(logged){
            <div (click)="logout()" class="logout-icon">
                <mat-icon  aria-hidden="false"  fontIcon="logout"></mat-icon>
            </div>
        }
        @if (username) {
            <span>{{ username }}</span>
        }
    
    </div>
</mat-toolbar>
