<mat-toolbar class="container">
    <div class="container-logo">
        <a href="/"><img class="logo" src="../assets/logo/logo.png" alt=""></a>
        <span>Personajes Anime y galeria</span>
    </div>
    <div class="menu">
        @for (item of menuItems; track $index) {
            <a *ngIf="!item.requiresAuth || logged" class="menu-item" [routerLink]="item.link" >{{ item.label }}</a>
        }
        
        @if(logged){
            <div  class="logout-icon">
                <span class="username">{{ username }}</span>
                <mat-icon (click)="logout()"   aria-hidden="false"  fontIcon="logout"></mat-icon>
            </div>
        } @else {
            <a class="menu-item" href="/login" >Login</a>
        }
        
    
    </div>
</mat-toolbar>
